#slideshow
  %img{ :src => "http://strm-gallery.coastalwatch.com/camera/livestill/227/LiveStill_200909230500.gif", :width => "640", :height => "480", :alt => "500" }
  %img{ :src => "http://strm-gallery.coastalwatch.com/camera/livestill/227/LiveStill_200909230503.gif", :width => "640", :height => "480", :alt => "503" }
%h3#time